#!/bin/sh shell

# https://github.com/ogham/exa
alias ls='exa --group-directories-first'
alias l='exa --group-directories-first'
alias la='exa --all --group-directories-first'
alias ll='exa --long --group-directories-first'
alias lla='exa --long --all  --group-directories-first'
alias lal='exa --al --group-directories-first'
alias lt='exa --tree --group-directories-first'
alias lta='exa --all --tree --group-directories-first'
alias lat='exa --all --tree --group-directories-first'
alias llat='exa --long --all --tree --group-directories-first'

# https://www.sudo.ws/man/1.8.3/sudo.man.html
alias suroot='sudo -E -s'